html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #ecf0f1;
}
.navbar {
    height: 60px;
    background-color: #34495e;
    width: 100%;
}
#navbar-menu {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    list-style: none;
    margin: auto;
}

#navbar-menu li a {
    font-size: 28px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.1em;
}

#register-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#register-form input {
    display: flex;
    flex-basis: 80%;
    margin: 20px;
    padding: 5px;
 }

#submit-button {
    display: flex;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    background-color: #34495e;
    height: 40px;
    border-radius: 10px;
}

#submit-button a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    letter-spacing: 0.1em;
}

#id_description {
    height: 150px;
}

#profile-card {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    width: 80%;
    margin-top: 40px;
    border: 2px solid #34495e;
    border-radius: 5px;
    padding: 10px;
}

#profile-card td {
    font-family: monospace;
    white-space: pre;
    font-size: 1.5em;
    word-break: break-all;

}

#profile-card a {
    text-decoration: none;
}
#profile-pic {
    display: flex;
    height: 200px;
    width: 200px;
}

#profile-pic img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile-info a {
    display: flex;
    flex-basis: 100%;
    margin-left: 10px;
    font-family: monospace;
    white-space: pre;
    font-size: 24px;
    word-break: break-all;
}